body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	overflow:hidden;
	font-family: verdana;
}

h4 {
	margin: 5px 0px;
}

img {
	float: left;
	margin: 0px 4px 4px 0px;
}

iframe {
	float: left;
	margin: 0px;	margin-right: 10px;
	border: none;
	background-color: gray;
}

li {
	list-style-type: none;
}

li.top {
	display: inline;
	position: relative;
	top: 15px;
	right: 20px;
	margin: 0px 10px;
}

a {
	text-decoration: none;
}


a.menu:link, a.menu:visited {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a.menu:hover, a.menu:active {
	color: #AAAAAA;
	text-decoration: none;
}

#clear {
	clear:both;
}
#footer {
	width: inherit;
	background-color: black;
	height: 100px;
	margin: 10px 0px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}

#content {
	width: 1000px;
	margin: 0px auto;
	overflow:hidden;
	text-align: left;
	padding: 5px;
}

.header {
	text-align: center;
}

.menutop {
	background-color: #000000;
	width: 1000px;
	height: 50px;
	margin: 0px 0px 20px 0px;
	float: top;
}/* styling til main vinduet etter vi har fjernet iFrame
#mainwindow {
	float: left;
	width: 790px;
	min-height: 1000px;
	margin: 0px;
	margin-right: 10px;
	border: none;
	background-color: gray;
}*/
.sidebar {
	background-color: grey;
	width: 200px;	height: 600px;
	float: left;
}
.byggikon {	margin-left: 200px;}
#bygglist {	list-style-type: inline;}

.byggimg {
	margin-right: 80px;
	margin-top: 50px;
	width: 75px;
	height: 75px;
}


.radio {
	margin-left: 50px;
}
