body{
margin:20px;
padding:0px;
text-align:center;
font-family:verdana;
}

h4{
margin:5px 0px;
}

img{
float:left;
margin:0px 4px 4px 0px;
}

iframe{
float:left;
margin:0px;margin-right:10px;
border:none;
background-color:grey;
}

li{
list-style-type:none;
}

li.top{
display:inline;
position:relative;
top:15px;
right:20px;
margin:0px 10px;
}

a{
text-decoration:none;
}

a#header{

}

a.menu:link,a.menu:visited{
color:#FFFFFF;
background-color:#000000;
text-decoration:none;
font-weight:bold; 
}

a.menu:hover,a.menu:active{
color:#AAAAAA;
text-decoration:none;
}

#content{
width:1000px;
margin:0px auto;
text-align:left;
padding:5px;
}

.header{
text-align:center;
}

.menutop{
background-color:#000000;
width:1000px;
height:50px;
margin:0px 0px 20px 0px;
float:top;
}


.infowindow{
background-color:grey;
width:790px;margin-right: 10px;height:600px;
float:left;
}


.sidebar{
background-color:grey;
width:200px;height:600px;
float:left;

}h3.byggtekst{margin-left:30px;margin-top:50px;}p.byggtekst{margin-left:30px;}h4.byggtekst{margin-left:30px;}li.byggtekst{margin-left:30px;} Dette er til admin siden	ul.tabs {		margin: 20;		padding: 0;		float: left;		list-style: none;		height: 32px;		border-bottom: 0px solid #999999;		border-left: 1px solid #999999;		width: 100%;	}	ul.tabs li {		float: left;		margin: 0;		cursor: pointer;		padding: 0px 21px ;		height: 31px;		line-height: 31px;		border: 1px solid #999999;		border-left: none;		font-weight: bold;		background: #EEEEEE;		overflow: hidden;		position: relative;	}	ul.tabs li:hover {		background: #CCCCCC;	}	/*	ul.tabs li.active{		background: #FFFFFF;		border-bottom: 1px solid #FFFFFF;	}	.tab_container {		border: 0px solid #999999;		border-top: none;		clear: both;		float: left;		width: 100%;		background: grey;	}	.tab_content {		padding: 60px;		font-size: 1.2em;		display: none;	}	#container {		width: 600px;		margin: 0 auto;		} slutten på admin siden */